NEXT_PUBLIC_SITE_URL=https://www.trinityentp.com
NEXT_PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
RESEND_API_KEY=
CONTACT_TO_EMAIL=trinity1entp@gmail.com
CONTACT_FROM_EMAIL=Website Enquiries <website@your-verified-domain.com>
